NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=YOUR_PUBLISHABLE_KEY
CLERK_SECRET_KEY=YOUR_SECRET_KEY
NEXT_PUBLIC_ELEVENLABS_AGENT_ID=YOUR_AGENT_ID
ANTHROPIC_API_KEY=YOUR_ANTHROPIC_KEY
TAVILY_API_KEY=YOUR_TAVILY_KEY
